* {
  padding: 0px;
  margin: 0px;
  font-family: "Maven Pro", sans-serif;
  text-transform: none;
}
*,
* :before,
*:after {
  box-sizing: border-box;
}
body {
  font-size: 150%;
  line-height: 1.6;
}
.top-mot {
  background: black;
  width: 100%;
  height: 30px;
}
.top-mot a {
  text-decoration: none;
}
.top-mot span {
  line-height: 30px;
}
.top-bar ul li {
  list-style: none;
  /* float: left; này sẽ biến li thành div nó sẽ thành hàng ngang */
  display: inline-block;
  margin-right: -19px; /*này làm cho hết cái cụm bên phải lại gần*/
}
.top-bar ul li a {
  padding: 0px 10px;
  margin: 0px 2px;
  margin-left: 20px; /*này làm cho hết cụm đó thụt vào*/
}
.top-bar-1 a {
  border-left: 1px solid white;
  padding-right: 60px;
}
.top-mot span {
  color: grey;
}
.top-mot span:hover {
  color: white;
  text-decoration: none;
}

/* --header hai--- */
.top-hai {
  background: whitesmoke;
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: relative;
  margin-top: -1px;
}
.top-haidrop-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.top-haidrop-item ul > li > a {
  display: inline-block;
  padding: 0px 5px;
  line-height: 80px;
  text-decoration: none;
  font-weight: bolder;
  color: gray;
  margin-left: 50px;
}
.top-haidrop-item ul > li > a:hover {
  color: rgba(243, 199, 3, 0.924);
  text-decoration: underline;
  text-decoration-style: dashed;
  transition: 0.7s; /*này đổi màu chữ nav*/
}
.top-hai-item-icon ul li {
  list-style: none;
  float: left; /*này sẽ biến li thành div nó sẽ thành hàng ngang*/
  display: block;
}
.top-hai-item-icon ul {
  margin-left: -58px;
}
.top-hai-item-icon ul li a {
  padding: 0px 10px;
  margin: 0px 2px;
  text-decoration: none;
  color: gray;
}
.top-hai-item-icon .cart a {
  border-left: 2px solid black;
}
.top-hai-item-icon > ul > li > a > i:hover {
  color: rgba(243, 199, 3, 0.924);
  text-decoration: none;
}

/* ----------------------------- */

/* khoi slide và nut-slide */
.khoi-slide {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.cac-slide {
  width: 500%; /* 500 mới di chuyển hết hình*/
  height: 500px;
  display: flex;
}
.cac-slide input {
  display: none;
}
.slide {
  width: 20%;
  transition: 1.5s;
}
.cac-slide img {
  width: 100%;
  height: 500px;
}
/* css for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid white;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  /* là :not()-loại trừ phần tử được chuyển đến nó khỏi lựa chọn.; last-child- chọn con cuối cùng.<:not(:last-child) là Kết hợp hai bộ chọn trên để loại trừ các con cuối cùng (bên trong-div) của mọi div cha khỏi vùng chọn. >*/
  margin-right: -35px;
}
.manual-btn:hover {
  background: rgb(206, 152, 4);
}
#radio2:checked ~ .first {
  margin-left: 0%;
}
#radio1:checked ~ .first {
  margin-left: -20%;
}
/* css for automatic navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  margin-top: 450px;
}
.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: -35px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: rgb(206, 152, 4);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: rgb(206, 152, 4);
}
/* ----------------------------- */
/* body 2  */
div.table {
  width: 20%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin: 0px 40px;
  padding: 40px 30px;
  margin-top: -30px;
  box-shadow: 20px 20px 10px grey;
}
section.row {
  display: flex;
  position: relative;
}
.table i {
  font-size: 30px;
  border: 2px solid rgb(206, 152, 4);
  padding: 8px 8px;
  border-radius: 50%;
  color: rgb(206, 152, 4);
}
/* ------ */
/* section 2  */
.about {
  text-align: center;
  padding-bottom: 40px;
  border: 1px solid rgba(175, 175, 175, 0.705);
  background: white;
  border-radius: 20px;
  margin: 70px 60px;
}
.about img {
  /* letter-spacing: 1px;<này là khoảng cách các chữ> */
  margin-top: -10px;
  height: 110px;
  width: 140px;
}
.about p:first-of-type {
  margin-top: 20px;
}
.about p {
  color: black;
  font-style: italic;
}
.sao:not(:last-child) {
  margin-right: -45px;
}
.sao {
  color: rgba(255, 217, 0, 0.925);
}
.about .cart {
  font-size: 25px;
  padding: 5px 0px;
  font-style: normal;
  font-weight: bold;
  color: rgb(206, 152, 4);
}
/* AUTO ĐỔI MÀU CHỮ */
p.cart {
  animation: colorBackground 0.5s infinite;
  -webkit-animation: colorBackground 5s infinite;
  -moz-animation: colorBackground 5s infinite;
  -o-animation: colorBackground 0.5s infinite;
}
@keyframes colorBackground {
  0% {
    color: rgb(206, 152, 4);
  }
  50% {
    color: #ffcc00;
  }
  100% {
    color: #ff9900;
  }
}
/* ------------------ */
.about .box-about-non img {
  width: 60%;
  border-radius: 100%;
  height: 150px;
  margin: 0 auto;
  transition: transform 0.3s ease-in;
}
.about .box-about-non img:hover {
  transform: scale(1.1);
}
.about .box-about-non .p1 {
  color: gray;
  font-style: normal;
  font-weight: bold;
}
.about .box-about-non .p2 {
  color: rgb(206, 152, 4);
  font-style: normal;
  font-weight: bold;
}
.about .container {
  margin-top: 40px;
}
/* --------- */
/* footer */
footer {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 20px;
}
footer .block-c-1 p {
  color: white;
  text-align: justify;
  font-size: 14px;
  margin-top: 14px;
}
footer .block-c-1 i {
  color: white;
  font-size: 20px;
  border-radius: 50%;
}
footer .block-c-2 {
  color: white;
  font-size: 14px;
}
footer .block-c-2 i {
  color: white;
  font-size: 14px;
}
footer .block-c-3 {
  color: #fff;
}
footer .block-c-3 p {
  font-size: 14px;
  margin-bottom: 5px;
}

footer .block-c-4 img {
  width: 80px;
  height: 70px;
}
footer .block-c-4 {
  color: #a4a4a4;
  font-size: 14px;
}
footer .block-c-4 .sup {
  color: #fff;
}
footer .block-c-4 p {
  margin-bottom: 0;
}
footer .block-c-4 .sub {
  font-size: 13px;
}
footer .block-c-4 .divider {
  width: 35px;
  height: 3px;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.3);
}
footer .block-c-4 h5 {
  color: white;
}
div.container-fluid {
  padding: 0px 40px;
}
/* -------- */
